In [ ]:
#answer of question 1
def max_of_two(x,y):
  if x > y :
    return x
  else:
    return y
def max_of_three( x, y, z ):
    return max_of_two( x, max_of_two( y, z ) )
print(max_of_three(20, 35, 19))

35

In [ ]:
#answer of question 2
def input11(x,y) :
  num1 = x
  num2 = y
  sum1 = num1 + num2
  sum2 = num1 - num2

  return sum1 , sum2


print(input11(30,10))

(40, 20)

In [ ]:
#answer of question 3
x = [1,2,3,4,5,6,7,8,9]

def sum_of_list1(j):
   total0 = 0 
   for x in j:
    total0 = total0 + x
   return total0
def multi_of_list(k):
     total9 = 1 
     for x in k:
      total9 = total9 * x
     return total9

sum_of_list1(x)
multi_of_list(x)

362880

In [ ]:
#answer of question number 4 

x = input().split("-")
x.sort()

k = "-".join(x)

print(k)

green-red-yellow-black-white
black-green-red-white-yellow

In [ ]:
import math

d = input()

d = d.split(',')
C = 50
H = 30

for i in d:
   Q = round(math.sqrt(2 * 50 * int(i) / 30))
   print(Q,end=" ")

100,150,180
18 22 24